body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header_container {
    display: flex;
    justify-content: space-between;
    padding: 15px 180px;
    background-color: #1f2937;
    color: white;
    align-items: center;
}

.right_links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header_logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_container {
    background-color: #1f2937;
    display: flex;
    padding: 80px 180px;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hero_text {
    width: 420px;
}

.hero_maintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero_secondary {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.signup {
    background-color: #3882F6;
    border: none;
    padding: 6px 28px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 15px;
}

button {
    font-family: 'Arial', sans-serif;

}

.signup:hover {
    background-color: #2c6cd4;
    cursor: pointer;
}

.placeholder {
    background-color: gray;
    height: 230px;
    width: 500px;
    border-radius: 10px;
    border: 2px solid #bed2f3;
}

.title {
    text-align: center;
    margin-top: 40px;
}

.info_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 150px;
    gap: 50px;
    padding: 20px 0px;
}

.box img {
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border: 3px solid #81b3ff;
}

.box img:hover {
    box-shadow: 0px 0px 15px 14px rgba(0,0,0,0.1);
    cursor: pointer;
    transform: scale(1.03);
    opacity: 0.9;
     background: linear-gradient(transparent, rgba(0, 0, 0, 0.3));
}

.box {
    max-height: 200px;
    width: 200px;
    text-align: center;
}

.quote_container {
    display: flex;
    background-color: #E5E7EB;
    padding: 100px 340px;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.author {
    font-weight: 900;
}









